
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Seyahat Acentesi</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  @*<link rel="stylesheet" href="~/AdminTemplate/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/AdminTemplate/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="~/AdminTemplate/bower_components/Ionicons/css/ionicons.min.css"> 
  <link rel="stylesheet" href="~/AdminTemplate/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="~/AdminTemplate/dist/css/skins/_all-skins.min.css"> 
  <link rel="stylesheet" href="~/AdminTemplate/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="~/AdminTemplate/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/AdminTemplate/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/select2/dist/css/select2.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/fullcalendar/dist/fullcalendar.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/fullcalendar/dist/fullcalendar.print.min.css" media="print">
*@
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/plugins/iCheck/all.css">
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="~/AdminTemplate/plugins/timepicker/bootstrap-timepicker.min.css">
    <script src="~/AdminTemplate/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="~/AdminTemplate/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/AdminTemplate/dist/js/adminlte.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>



    <link rel="stylesheet" href="~/AdminTemplate/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    @await Component.InvokeAsync("_AdminHeaderPartial")
    @await Component.InvokeAsync("_AdminSidebarPartial")


    <div class="content-wrapper">
       
        <section class="content">
            @RenderBody()

        </section>

    </div>

  <footer class="main-footer">
     
    <strong>@DateTime.Now.Year <a href="">Cansu Sürücü</a></strong> 
 
  </footer>

  <aside class="control-sidebar control-sidebar-dark" style="display: none;">

    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
 
    <div class="tab-content">
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
    <script src="~/AdminTemplate/bower_components/moment/moment.js"></script>
    <!-- jQuery 3 -->
    <script src="~/AdminTemplate/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/AdminTemplate/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="~/AdminTemplate/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/AdminTemplate/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminTemplate/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/AdminTemplate/bower_components/raphael/raphael.min.js"></script>

    <script src="~/AdminTemplate/bower_components/morris.js/morris.min.js"></script>
    <script src="~/AdminTemplate/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>

    <script src="~/AdminTemplate/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>

    <script src="~/AdminTemplate/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/AdminTemplate/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/AdminTemplate/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/AdminTemplate/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>

    <script src="~/AdminTemplate/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="~/AdminTemplate/dist/js/adminlte.min.js"></script>
    <script src="~/AdminTemplate/dist/js/demo.js"></script>
    <!-- DataTables -->
    <script src="~/AdminTemplate/bower_components/select2/dist/js/select2.full.min.js"></script>





    <script src="~/AdminTemplate/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/AdminTemplate/bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script src="~/AdminTemplate/bower_components/fullcalendar/dist/locale/tr.js"></script>



    @*<script src="~/AdminTemplate/bower_components/moment/moment.js"></script>
    <script src="~/AdminTemplate/bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script src="~/AdminTemplate/bower_components/fullcalendar/dist/locale/tr.js"></script>

    <script src="~/AdminTemplate/bower_components/jquery-ui/jquery-ui.min.js"></script>*@
    <script>






        /* initialize the external events
             -----------------------------------------------------------------*/
        function init_events(ele) {
            ele.each(function () {

                // it doesn't need to have a start or end
                var eventObject = {
                    title: $.trim($(this).text()) // use the element's text as the event title
                }

                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject)

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 1070,
                    revert: true, // will cause the event to go back to its
                    revertDuration: 0 //  original position after the drag
                })

            })


        }



        init_events($('#external-events div.external-event'));


        var date = new Date()
        var d = date.getDate(),
            m = date.getMonth(),
            y = date.getFullYear()

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next ',
                center: 'title',
                right: ''
            },
            lang: 'tr',
            viewRender: function (view, element) {


            },
            buttonText: {
                today: 'Bugün',
                month: 'Ay',
                week: 'Hafta',
                day: 'Gün'
            },
            editable: true,

            eventDrop: function (info) {
                //console.log("eventDrop");
                calendarEventDragged(info.vid, info.start._d);  // Takvimde eventi tarihler arası sürükle

            },
            eventClick: function (info) {

                eventDuzenleModal(info.vid);  // Takvimde event düzenle modal


            },
            eventRemove: function (calEvent, jsEvent, view) {
                console.log('removeClick id: ' + calEvent.id);
            },
            droppable: true, // this allows things to be dropped onto the calendar !!!
            drop: function (date, allDay) { // this function is called when something is dropped


                // retrieve the dropped element's stored Event Object
                var originalEventObject = $(this).data('eventObject')

                // we need to copy it, so that multiple events don't have a reference to the same object
                var copiedEventObject = $.extend({}, originalEventObject)

                // assign it the date that was reported
                copiedEventObject.start = date
                copiedEventObject.allDay = allDay
                copiedEventObject.backgroundColor = $(this).css('background-color')
                copiedEventObject.borderColor = $(this).css('border-color')


                // render the event on the calendar
                // $('#calendar').fullCalendar('renderEvent', copiedEventObject, true)

                // is the "remove after drop" checkbox checked?
                if ($('#drop-remove').is(':checked')) {
                    $(this).remove()
                }

                let dObj = new Date(date._d);
                let yr = dObj.getFullYear();
                let mt = dObj.getMonth() + 1;
                let dt2 = dObj.getDate();

                let pMonth = mt.toString();
                if (pMonth.length < 2) {
                    pMonth = "0" + pMonth;
                }

                let pDate = dt2.toString();
                if (pDate.length < 2) {
                    pDate = "0" + pDate;
                }

                let yTarih = `${yr}-${pMonth}-${pDate}`;




                YeniEtkinlikEkleModal($(this)[0].id, yTarih);  //Takvime Sürükle, Ekle Modal

                //console.log(copiedEventObject);
                //$('#calendar').fullCalendar('removeEvent', copiedEventObject,true);

            }
        })



        var currColor = '#3c8dbc';

        //Color chooser button
        var colorChooser = $('#color-chooser-btn')
        $('#color-chooser > li > a').click(function (e) {
            e.preventDefault()
            currColor = $(this).css('color')
            $('#add-new-event').css({
                'background-color': currColor,
                'border-color': currColor
            })
            $("#renksecimi").val($(this).css("color"));
        })
        $('#add-new-event').click(function (e) {
            e.preventDefault()
            //Get value and make sure it is not null
            var val = $('#new-event').val()
            if (val.length == 0) {
                return
            }

            //Create events
            var event = $('<div />')
            event.css({
                'background-color': currColor,
                'border-color': currColor,
                'color': '#fff'
            }).addClass('external-event')
            event.html(val)
            $('#external-events').prepend(event)

            //Add draggable funtionality
            init_events(event)

            //Remove event from text input
            $('#new-event').val('')
        })


        function calendarEventDragged(CompanyEventID, tarih) {
            let dateObj = new Date(tarih);
            let year = dateObj.getFullYear();
            let month = dateObj.getMonth() + 1;
            let date = dateObj.getDate();

            let paddedMonth = month.toString();
            if (paddedMonth.length < 2) {
                paddedMonth = "0" + paddedMonth;
            }

            let paddedDate = date.toString();
            if (paddedDate.length < 2) {
                paddedDate = "0" + paddedDate;
            }

            let yenitarih = `${year}-${paddedMonth}-${paddedDate}`;
            $.ajax({
                type: "POST",
                url: "/AdminCalendar/ChangeEventDate",
                data: {
                    CompanyEventID: CompanyEventID,
                    Date: yenitarih
                },
                success: function (result) {


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }


        function loadEvents() {
            $.ajax({
                type: "POST",
                url: "/AdminCalendar/AllCalendarVal",
                dataType: 'json',
                success: function (result) {
                    let veriler = jQuery.parseJSON(result);
                    console.log(veriler);
                    console.log(result);

                    $('#calendar').fullCalendar('removeEvents');
                    $("#calendar").fullCalendar('addEventSource', veriler);
                    $('#calendar').fullCalendar('rerenderEvents');
                    $('#calendar').fullCalendar('refetchEvents');
                    //  $('#calendar').fullCalendar('renderEvent', veriler);

                },
                error: function (e) {
                    alert('Vardiya takvimi yüklenemedi');
                }
            });
        } //loadEvents
</script>
    @if(ViewData["Title"] == "Etkinlikler")
    {
        <script>loadEvents();</script>
    }
    <script>
        
        function eventDuzenleModal(CompanyEventID) {
            $.ajax({
                type: "POST",
                url: "/AdminCalendar/GetSpecEvent",
                dataType: 'json',
                data: {
                    CompanyEventID: CompanyEventID,
                },
                success: function (result) {
                    let veriler = jQuery.parseJSON(result);
                    console.log(veriler);
                    for (var i = 0; i < veriler.length; i++) {
                        $("#Title").val(veriler[i]["title2"]);
                        $("#Description").val(veriler[i]["description"]);
                        $("#Adress").val(veriler[i]["adress"]);
                        $("#PhoneNumber").val(veriler[i]["phonenumber"]);
                        $("#Day").val(veriler[i]["day"]);
                        $("#EventName").val(veriler[i]["eventname"]);
                        $("#EventTypeID").val(veriler[i]["eventID"]);
                        $("#CompanyEventID").val(veriler[i]["id"]);
                        $("#Hour").val(veriler[i]["hour"]).change();
                    }
                    $("#EventDuzenleModal .modal-dialog").css("width", "50%");
                    $("#EventDuzenleModal .modal-title").html("<b> Etkinlik Güncelle </b>");

                    $("#EventDuzenleModal").modal("show");
                    $('.select2').select2();
                    $('#Day').datepicker({
                        locale: {
                            format: 'YYYY-MM-DD',
                            autoclose: true
                        }
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }

        function DeleteCompanyEvent(CompanyEventID) {
            $.ajax({
                type: "POST",
                url: "/AdminCalendar/DeleteCompanyEvent",
                data: {
                    CompanyEventID: CompanyEventID,
                },
                success: function (result) {
                    location.reload();

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }
        function YeniEtkinlikEkleModal(etkinliktipid, tarih) {
            var iddizi = etkinliktipid.split("-");
            var val = iddizi[1];
            $.ajax({
                type: "GET",
                url: "/AdminCalendar/EtkinlikEkle",
                dataType: 'json',
                data: {
                    val: val,
                },
                success: function (result) {
                    let veriler = jQuery.parseJSON(result);
                    console.log(veriler["EventTypeID"]);
                    $("#EventEkleModal .modal-dialog").css("width", "50%");
                    $("#EventEkleModal .modal-title").html("<b> Etkinlik Ekle </b>");
                    var sHtml = "";
                    sHtml += '<form method="post" role="form" action="/AdminCalendar/AddEvent" >';
                    sHtml += ' <div class="box-body">';
                    sHtml += ' <div class="form-group">';
                    sHtml += '   <div class="input-group" style="width:100%">';
                    sHtml += ' 	<span class="input-group-addon" style="width:110px; text-align:left;"><i class="fa fa-pencil"></i> Etkinlik Tipi</span>';
                    sHtml += '      <input type="text" readonly class="form-control" value="' + veriler["Name"] + '" >';
                    sHtml += '      <input type="hidden" class="form-control" name="EventTypeID" value ="' + veriler["EventTypeID"] + '">';
                    sHtml += '      <input type="hidden" class="form-control" name="EventColor" value ="' + veriler["EventColor"] + '">';
                    sHtml += ' </div>';
                    sHtml += ' </div>';
                    sHtml += ' <div class="form-group">';
                    sHtml += '   <div class="input-group" style="width:100%">';
                    sHtml += ' 	<span class="input-group-addon" style="width:110px; text-align:left;"><i class="fa fa-pencil"></i> Başlık</span>';
                    sHtml += '      <input type="text" class="form-control" name="Title" placeholder="Başlık giriniz.">';
                    sHtml += ' </div>';
                    sHtml += ' </div>';
                    sHtml += ' <div class="form-group">';
                    sHtml += '   <div class="input-group" style="width:100%">';
                    sHtml += ' 	<span class="input-group-addon" style="width:110px; text-align:left;"><i class="fa fa-pencil"></i> Açıklama</span>';
                    sHtml += '   <input type="text" class="form-control" name="Description" placeholder="Açıklama giriniz.">';
                    sHtml += '   </div>';
                    sHtml += '   </div>';
                    sHtml += '   <div class="form-group">';
                    sHtml += '   <div class="input-group" style="width:100%">';
                    sHtml += ' 	<span class="input-group-addon" style="width:110px; text-align:left;"><i class="fa fa-map-marker"></i> Yer</span>';
                    sHtml += '       <input type="text" class="form-control" name="Adress" placeholder="Yer giriniz.">';
                    sHtml += '     </div>';
                    sHtml += '     </div>';
                    sHtml += '   <div class="form-group">';
                    sHtml += '   <div class="input-group" style="width:100%">';
                    sHtml += ' 	<span class="input-group-addon" style="width:110px; text-align:left;"><i class="fa fa-phone"></i> Tel</span>';
                    sHtml += '       <input type="text" class="form-control" name="PhoneNumber" placeholder="İrtibat numarası giriniz.">';
                    sHtml += '     </div>';
                    sHtml += '     </div>';
                    sHtml += '   <div class="form-group">';
                    sHtml += '   <div class="input-group" style="width:100%">';
                    sHtml += ' 	<span class="input-group-addon" style="width:110px; text-align:left;"><i class="fa fa-clock-o"></i> Tarih</span>';
                    sHtml += '       <input type="text" readonly class="form-control" name="Day"  value="' + tarih + '" placeholder="Tarih giriniz.">';
                    sHtml += '     </div>';
                    sHtml += '     </div>';
                    sHtml += '   <div class="form-group">';
                    sHtml += '   <div class="input-group" style="width:100%">';
                    sHtml += ' 	<span class="input-group-addon" style="width:110px; text-align:left;"><i class="fa fa-clock-o"></i> Saat</span>';
                    sHtml += '       <select class="form-control select2"  style="width:100%;" name="Hour">';
                    sHtml += '       <option value="08:00">08:00</option>';
                    sHtml += '       <option value="09:00">09:00</option>';
                    sHtml += '       <option value="10:00">10:00</option>';
                    sHtml += '       <option value="11:00">11:00</option>';
                    sHtml += '       <option value="12:00">12:00</option>';
                    sHtml += '       <option value="13:00">13:00</option>';
                    sHtml += '       <option value="14:00">14:00</option>';
                    sHtml += '       <option value="15:00">15:00</option>';
                    sHtml += '       <option value="16:00">16:00</option>';
                    sHtml += '       <option value="17:00">17:00</option>';
                    sHtml += '       <option value="18:00">18:00</option>';
                    sHtml += '       <option value="19:00">19:00</option>';
                    sHtml += '       <option value="20:00">20:00</option>';
                    sHtml += '       <option value="21:00">21:00</option>';
                    sHtml += '       <option value="22:00">22:00</option>';
                    sHtml += '       </select>';
                    sHtml += '     </div>';
                    sHtml += '     </div>';
                    sHtml += '  </div>  ';
                    sHtml += '  <div class="box-footer">';
                    sHtml += '     <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Kaydet</button>';
                    sHtml += ' </div>';
                    sHtml += '  </form>';

                    $("#EventEkleModal .modal-body").html(sHtml);
                    $("#EventEkleModal").modal("show");
                    $('.select2').select2();

                    $('#tariharaligi').datepicker({
                        locale: {
                            format: 'YYYY-MM-DD',
                            autoclose: true
                        }
                    });

                    $('.select2').select2();
                    $('.timepicker').timepicker({
                        showInputs: false,
                        minuteStep: 5,
                        defaultTime: '10:00',
                        showSeconds: false,
                        showMeridian: false,
                        snapToStep: true
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }
        $('#example1').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': true
        });
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
