@model ForgotPasswordDto

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Traversal Admin Kayıt Ekranı</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="~/AdminTemplate/plugins/iCheck/square/blue.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a style="font-size:30px;" href="~/AdminTemplate/index2.html"><b>Admin Şifremi Unuttum</b></a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">
                Şifre Yenile
            </p>
            <form method="post" asp-controller="AdminForgotPassword" asp-action="Index" method="post">
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email" asp-for="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <span asp-validation-for="Email"></span>
                </div>

                <div class="row">
                    <div class="col-xs-4" style="float:right">
                        <button type="submit" class="btn btn-primary btn-block btn-flat"><i class="fa fa-mail-forward"></i> Gönder</button>
                    </div>
                </div>
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger" style="color:red"></div>

            </form>
        </div>
    </div>
    <script src="~/AdminTemplate/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/AdminTemplate/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/AdminTemplate/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
</body>
</html>
