@model AppUser
 
@{
    ViewData["Title"] = "Mail Onayla";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Traversal Admin Giriş Ekranı</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/AdminTemplate/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminTemplate/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/AdminTemplate/plugins/iCheck/square/blue.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href=""><b>Admin Girişi</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Maili Onayla </p>
        <form method="post" action="/AdminLogin/EmailConfirmedSave">
                <div class="form-group has-feedback">
              <label>Mail Adresiniz</label>
                 <input type="text" asp-for="Email" class="form-control" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
                <div class="form-group has-feedback">
                  <label>Mail Onay Kodu</label>
                  <input type="text" asp-for="MailCode" class="form-control" />
                    <span class="glyphicon glyphicon-password form-control-feedback"></span>
             </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default"><i class="fa fa-check"></i> ONAYLA</button>
            </div>
        </form>
    </div>
</div>

    <script src="~/AdminTemplate/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/AdminTemplate/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/AdminTemplate/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
</body>
</html>