@using CapstoneProject.Controllers
@model UserSubClass
@{
    Layout = null;
}
 
<section id="subs" class="subscribe">
	<div class="container">
		<div class="subscribe-title text-center">
			<h2>
				Takipte kalın!
			</h2>
			<p>
				Etkinliklerden haberdar olmak için abone olun.
			</p>
		</div>
		<form method="post" asp-action="AddSubscribe" asp-controller="User">
			<div class="row">				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="custom-input-group" style="height:50px;">
						<input type="text" class="form-control" placeholder="Adınızı ve Soyadınızı giriniz." asp-for="NameSurname">
						<div class="clearfix"></div>
						<i class="fa fa-users"></i>
					</div>
					<br />
					<div class="custom-input-group" style="height:50px;">
						<input type="email" class="form-control" placeholder="Email adresinizi giriniz." asp-for="Email">								
						<div class="clearfix"></div>
						<i class="fa fa-envelope"></i>
					</div>
					<br />
					<div class="custom-input-group" style="height:50px;">
						<input type="text" class="form-control" placeholder="Telefon numaranızı giriniz." asp-for="PhoneNumber">
						<i class="fa  fa-phone" style="margin-bottom:30px;"></i>
						
						
					</div>
					<br />
				</div>
				<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
						<button type="submit" class="appsLand-btn subscribe-btn">Abone Ol</button>
						
				</div>
				</div>

			</div>
		</form>
	</div>

</section> 
