@using CapstoneProject.Controllers
@model SubClass
@{
    ViewData["Title"] = "Abone Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Yeni Abone</h3>
    </div>
    <form method="post" role="form">
        <div class="box-body">
            <div class="form-group">
                <label>Abone Adı Soyadı</label>
                <input type="text" class="form-control" asp-for="@Model.NameSurname" placeholder="Ad Soyad Giriniz">
             </div>   
                <div class="form-group">
                <label>Abone Email</label>
                <input type="text" class="form-control" asp-for="@Model.Email" placeholder="Email Giriniz">
                <input type="hidden" class="form-control" asp-for="@Model.Status" value="true">

            </div>
        </div>

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>