@model About
@{
    ViewData["Title"] = "Hakkımızda Ekleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
} 
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Yeni Hakkımızda Ekle</h3>
    </div>
    <form method="post" role="form" asp-action="AddAbout" asp-controller="AdminAbout" enctype="multipart/form-data">
        <div class="box-body">
            <div class="form-group">
                <label>Başlık</label>
                <input type="text" class="form-control" asp-for="Title" placeholder="Başlık">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Kısa Açıklama</label>
                <input type="text" class="form-control" asp-for="ShortDescription" placeholder="Kısa Açıklama">
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Uzun Açıklama</label>
                <input type="text" class="form-control" asp-for="LongDescription" placeholder="Uzun Açıklama">
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
            
        </div>  
        <div class="box-footer">
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Kaydet</button>
        </div>
    </form>
</div>