@model List<About>
@{
    ViewData["Title"] = "Hakkımızda Ekleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
} 
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Bilgi</h3>&emsp;
        <a class="btn btn-success" href="/AdminAbout/AddAbout/"><i class="fa fa-plus"></i> Yeni Ekle</a>
    </div>

    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Başlık</th>
                    <th>Kısa Açıklama</th>
                    <th>Uzun Açıklama</th>
                    <th>Durum</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AboutID</td>
                        <td>@item.Title</td>
                        <td>@item.ShortDescription</td>
                        <td>@item.LongDescription</td>

                        <td>
                            @if (item.Status == true)
                            {
                                <a href="/AdminAbout/ChangeAboutStatFalse/@item.AboutID" class="btn btn-success"> AKTİF</a>
                            }
                            else
                            {

                                <a href="/AdminAbout/ChangeAboutStatTrue/@item.AboutID" class="btn btn-danger"> PASİF</a>

                            }
                        </td>
                        <td>
                            <a href="/AdminAbout/UpdateAbout/@item.AboutID" class="btn btn-primary">Güncelle</a>
                            <a href="/AdminAbout/DeleteAbout/@item.AboutID" class="btn btn-danger">Sil</a>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
