@model CreateTourInformCommand
@{
    ViewData["Title"] = "AddTourInform";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <a href="/Admin/TourInformMediatR/Index" class="btn btn-app"><i class="fa fa-arrow-left"></i> Geri Dön</a>

    </div>
    <div class="box-header with-border">
        <h3 class="box-title">Yeni Tur Bilgisi Ekleme Formu (CQRS MediatR)</h3>
    </div>
    <form method="post" role="form" action="/Admin/TourInformMediatR/AddTourInform" enctype="multipart/form-data">
        <input type="hidden" value="true" name="Status"/>
        <div class="box-body">
            <div class="form-group">
                <label>Başlık</label>
                <input type="text" class="form-control" asp-for="Title" placeholder="Başlık giriniz.">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Açıklama</label>
                <input type="text" class="form-control" asp-for="Description" placeholder="Açıklama giriniz.">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Ücret</label>
                <input type="text" class="form-control" asp-for="Price" placeholder="Ücret giriniz.">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Resim</label>
                <input type="file" asp-for="Image">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
           
        </div>

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>

