
<nav class="navbar navbar-expand-lg navbar-light text-capitalize">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="~/Template/imgs/logo.png" alt="#" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#show-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="show-menu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#home">Anasayfa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#service">Hizmetler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#agency">Turlar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">İletişim</a>
                </li>
                @*<li class="nav-item .search-container">
                    <a class="nav-link search" href="#"><i class="fas fa-search"></i></a>
                    <form>
                        <input type="search">
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-user"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-heart"></i></a>
                </li>*@
            </ul>
        </div>
    </div>
</nav>


