@model List<TravelAgency>
@{
    var say = 1;
    var active = "";
} 
<section id="service" class="service"> 
	<div class="container">

		<div class="service-counter text-center">
			@foreach(var item in Model){
			<div class="col-md-4 col-sm-4">
				<div class="single-service-box">
					<div class="service-img">
						<img src="@item.Image" alt="service-icon" />
					</div> 
					<div class="service-content">
						<h2>
							<a href="#">
								@item.Title
							</a>
						</h2>
						<p>@item.Description</p>
					</div> 
				</div> 
			</div> 
			}
			 
		</div> 
	</div> 
</section> 
