@model List<TravelAgency>
@{
    var say = 1;
    var active = "";
}
<div class="services" id="service">
    <div class="container">
        <h2 class="text-capitalize">Eğlenceli <span>Tatil Yerlerimiz</span></h2>
        <p>@ViewBag.ld</p>
    </div>
    <div class="small-container">
        <div id="slideToNext" class="carousel slide" data-ride="carousel">
            
              
                   <div class="carousel-inner">
                        @foreach (var item in Model)
                    {
                    if (say == 1)
                    {
                        active = "active";
                    }
                    else
                    {
                        active = "";
                    }
                    <div class="carousel-item @active">
                            
                            <img src="@item.Image" class="d-block w-100 " alt="...">
                   
                    </div>
                    say = say+1;
                }
                    </div>
                
               
            <a class="carousel-control-prev" href="#slideToNext" role="button" data-slide="prev">
                <i class="fas fa-chevron-left fa-2x"></i>
                <span class="sr-only">Önceki</span>
            </a>
            <a class="carousel-control-next" href="#slideToNext" role="button" data-slide="next">
                <i class="fas fa-chevron-right fa-2x"></i>
                <span class="sr-only">Sonraki</span>
            </a>
            
        </div>
    </div>
</div>