@model AppUser
 
@{
    ViewData["Title"] = "Mail Onayla";
    Layout = null;
}
<style>
	.container{
		background: linear-gradient(to right, #FF4B2B, #FF416C);
	}
</style>

<link href="~/UserLoginTemp/loginstyles.css" rel="stylesheet" />
<script src="~/UserLoginTemp/jquery/dist/jquery.min.js"></script>
<script src="~/UserLoginTemp/loginscripts.js"></script>
<div class="container" id="container">
	<div style="width:100%;" id="SignUpDiv">
		<form method="POST" action="/Login/EmailConfirmedSave">
			<h1>Email Onayı</h1>
			<input type="text" placeholder="Email giriniz." name="Email" />
			<input type="text" placeholder="Kodu giriniz." name="MailCode" />
			<button type="submit"><i class="fa fa-save"></i> Kaydet</button>
		</form>
	</div>
</div>

<script>
	$("#container").addClass("right-panel-active");
</script>
 