@model ForgotPasswordDto

@{
    Layout = null;
}

<style>
    .container {
        background: linear-gradient(to right, #FF4B2B, #FF416C);
    }
</style>

<link href="~/UserLoginTemp/loginstyles.css" rel="stylesheet" />
<script src="~/UserLoginTemp/jquery/dist/jquery.min.js"></script>
<script src="~/UserLoginTemp/loginscripts.js"></script>

<div class="container" id="container">
    <div style="width:100%;" id="SignUpDiv">
        <form method="post" asp-controller="Login" asp-action="ForgotPassword" method="post">
            <h1>Şifre Yenile</h1>
            <input type="text" class="form-control" placeholder="Yeni Şifre" asp-for="Email">
            <span asp-validation-for="Email"></span>
            <button type="submit" style="cursor:pointer;"><i class="fa fa-save"></i> GÖNDER</button>
        </form>
        <div asp-validation-summary="ModelOnly" class="text-danger" style="color:red"></div>
    </div>
</div>

<script>
    $("#container").addClass("right-panel-active");
</script>
