
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seyahat Sitesi Giriş & Kayıt Ol Ekranı</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
	<link rel="stylesheet" href="~/UserLoginTemplate/style.css">

</head>
<body>
	<!-- partial:index.partial.html -->
	<nav class="main-nav">
		<ul>
			<li><a class="signin" href="#0">Üye Girişi</a></li>
			<li><a class="signup" href="#0">Üye Ol</a></li>
		</ul>
	</nav>

	<div class="user-modal">
		<div class="user-modal-container">
			<ul class="switcher">
				<li><a href="#0">Üye Girişi</a></li>
				<li><a href="#0">Yeni Hesap</a></li>
			</ul>

			<div id="login">
				<form class="form">
					<p class="fieldset">
						<label class="image-replace email" for="signin-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
						<span class="error-message">Bu email adresinin hesabı bulunamadı!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace password" for="signin-password">Şifre</label>
						<input class="full-width has-padding has-border" id="signin-password" type="password" placeholder="Şifre Giriniz.">
						<a href="#0" class="hide-password">Göster</a>
						<span class="error-message">Şifre yanlış tekrar deneyiniz.</span>
					</p>

					
					<p class="fieldset">
						<input class="full-width" type="submit" value="Giriş Yap">
					</p>
				</form>

				<p class="form-bottom-message"><a href="#0">Şifremi Unuttum</a></p>
				<!-- <a href="#0" class="close-form">Close</a> -->
			</div>

			<div id="signup">
				<form class="form">
					<p class="fieldset">
						<label class="image-replace username" for="signup-username">Kullanıcı Adı</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Kullanıcı Adınızı Giriniz.">
						<span class="error-message"></span>
					</p>

					<p class="fieldset">
						<label class="image-replace email" for="signup-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail Adresinizi Giriniz.">
						<span class="error-message">Geçerli bir email adresi giriniz.</span>
					</p>

					<p class="fieldset">
						<label class="image-replace password" for="signup-password">Şifre</label>
						<input class="full-width has-padding has-border" id="signup-password" type="password" placeholder="Şifrenizi Giriniz">
						<a href="#0" class="hide-password">Göster</a>
						<span class="error-message">Şifreniz en az 6 karakter olmalıdır.</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Kayıt Ol">
					</p>
				</form>

				  <a href="#0" class="cd-close-form">Kapat</a> 
			</div>

			<div id="reset-password">
				<p class="form-message">Şifreni mi unuttun. Lütfen mail adresinizi giriniz.</br>Yeni şifreniz için mailizine link gönderilecektir.</p>

				<form class="form">
					<p class="fieldset">
						<label class="image-replace email" for="reset-email">E-mail</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail Giriniz.">
						<span class="error-message">Mail adresine uygun hesap bulunamadı.</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Şifremi Yenile">
					</p>
				</form>

				<p class="form-bottom-message"><a href="#0">Giriş Yapa Geri Dön</a></p>
			</div>
	 
		</div>
	</div>
	<!-- partial -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="~/UserLoginTemplate/script.js"></script>

</body>
</html>
