@model ResetPasswordDto

@{
    Layout = null;
}
<style>
    .container {
        background: linear-gradient(to right, #FF4B2B, #FF416C);
    }
</style>

<link href="~/UserLoginTemp/loginstyles.css" rel="stylesheet" />
<script src="~/UserLoginTemp/jquery/dist/jquery.min.js"></script>
<script src="~/UserLoginTemp/loginscripts.js"></script>
<div class="container" id="container">
    <div style="width:100%;" id="SignUpDiv">
        <form method="POST" asp-controller="Login" asp-action="ResetPassword">
            <h1>Şifre Yenile</h1>
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Token" />
            <input type="text" class="form-control" placeholder="Yeni Şifre" asp-for="Password">
            <span asp-validation-for="Password"></span>
            <input type="text" class="form-control" placeholder="Yeni Şifre" asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword"></span>
            <button type="submit" style="cursor:pointer;"><i class="fa fa-save"></i> Şifreyi Kaydet</button>
            <div asp-validation-summary="All" class="text-danger" style="color:red"></div>
        </form>
    </div>
</div>

<script>
    $("#container").addClass("right-panel-active");
</script>
