
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seyahat Sitesi Giriş & Kayıt Ol Ekranı</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
	<link rel="stylesheet" href="~/UserLoginTemplate/style.css">

</head>
<body>
	<!-- partial:index.partial.html -->
	<nav class="main-nav">
		<ul>
			<li><a class="signin" href="#0">Üye Girişi</a></li>
			<li><a class="signup" href="#0">Üye Ol</a></li>
		</ul>
	</nav>

	<div class="user-modal">
		<div class="user-modal-container">
			<ul class="switcher">
				<li><a href="#0">Üye Girişi</a></li>
				<li><a href="#0">Yeni Hesap</a></li>
			</ul>

			<div id="login">
				<form class="form" asp-action="SignIn" asp-controller="Login">
					<p class="fieldset">
						<label class="image-replace ">Email</label>
						<input class="full-width has-padding has-border"  name="email" type="text" placeholder="E-mail">
					</p>

					<p class="fieldset">
						<label class="image-replace password" >Şifre</label>
						<input class="full-width has-padding has-border"  name="password" type="password" placeholder="Şifre Giriniz.">
						<a href="#0" class="hide-password">Göster</a>
						
					</p>


					<p class="fieldset">
						<button type="submit" value="Giriş Yap">Giriş Yap</button>
					</p>
				</form>

				<p class="form-bottom-message"><a href="#0">Şifremi Unuttum</a></p>
				<!-- <a href="#0" class="close-form">Close</a> -->
			</div>

			<div id="signup">
				<form class="form" method="post" asp-action="SignUp" asp-controller="Login">
					<p class="fieldset">
						<label class="image-replace username" >Kullanıcı Adı</label>
						<input class="full-width has-padding has-border"  type="text" name="Username" placeholder="Kullanıcı Adınızı Giriniz.">
				 
					</p>

					<p class="fieldset">
						<label class="image-replace email" >E-mail</label>
						<input class="full-width has-padding has-border"  type="text" name="Mail" placeholder="E-mail Adresinizi Giriniz."> 
					</p>

						<p class="fieldset">
						<label class="image-replace user"  >Ad</label>
						<input class="full-width has-padding has-border"   type="text" name="Name" placeholder="Adınızı giriniz."> 
					</p>
					<p class="fieldset">
						<label class="image-replace user"  >Soyad</label>
						<input class="full-width has-padding has-border"   type="text"  name="Surname" placeholder="Soyadınızı giriniz.">
						 
					</p>
					<p class="fieldset">
						<label class="image-replace password" >Şifre</label>
						<input class="full-width has-padding has-border"  type="password" name="Password" placeholder="Şifrenizi giriniz">
						<a href="#0" class="hide-password">Göster</a> 
					</p>
					<p class="fieldset">
						<label class="image-replace password"  >Şifre</label>
						<input class="full-width has-padding has-border"   type="password" name="ConfirmPassword" placeholder="Şifrenizi tekrar giriniz">
						<a href="#0" class="hide-password">Göster</a> 
					</p>
					<p class="fieldset">
						<button class="full-width has-padding" type="submit"  >Kayıt Ol </button>
					</p>
				</form>

				<a href="#0" class="cd-close-form">Kapat</a>
			</div>

			<div id="reset-password">
				<p class="form-message">Şifreni mi unuttun. Lütfen mail adresinizi giriniz.</br>Yeni şifreniz için mailizine link gönderilecektir.</p>

				<form class="form">
					<p class="fieldset">
						<label class="image-replace email" >E-mail</label>
						<input class="full-width has-padding has-border"  type="email" placeholder="E-mail Giriniz.">
				
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Şifremi Yenile">
					</p>
				</form>

				<p class="form-bottom-message"><a href="#0">Giriş Yapa Geri Dön</a></p>
			</div>

		</div>
	</div>
	<!-- partial -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="~/UserLoginTemplate/script.js"></script>

</body>
</html>