@model OurInfo
<!-- footer-copyright start -->
<footer class="footer-copyright" id="footer">
	<div class="container">
		<div class="footer-content">
			<div class="row">

				<div class="col-sm-3">
					<div class="single-footer-item">
						<div class="footer-logo">
							<a href="#home">
								CNS<span>TOUR</span>
							</a>
							<p>
								En İyi Tur Sitesi
							</p>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="single-footer-item">
						<h2>link</h2>
						<div class="single-footer-txt">
							<p><a href="#home">Anasayfa</a></p>
							<p><a href="#service">Hizmetlerimiz</a></p>
							<p><a href="#pack">Paketler </a></p>
							<p><a href="#spo">Hakkımızda</a></p>
							<p><a href="#subs">Abone Ol</a></p>
							<p><a href="#footer">Bize Ulaşın</a></p>

						</div>
					</div>

				</div>

				<div class="col-sm-3">
					<div class="single-footer-item">
						<h2>Popüler Rotalar</h2>
						<div class="single-footer-txt">
							<p><a href="#pack">Türkiye</a></p>
							<p><a href="#pack">İngiltere</a></p>
							<p><a href="#pack">İspanya</a></p>
							<p><a href="#pack">Fransa</a></p>
							<p><a href="#pack">İtalya</a></p>
						</div>
					</div>
				</div>
			
					<div class="col-sm-3">
						<div class="single-footer-item text-center">
							<h2 class="text-left">İletişim</h2>
							<div class="single-footer-txt text-left">
								<p>@ViewBag.phone</p>
							<p class="foot-email"><a href="#">@ViewBag.email</a></p>
								<p>@ViewBag.address</p>
							
							</div>
						</div>
					</div>
				
				

			</div>

		</div>
		<hr>
		<div class="foot-icons ">
			<ul class="footer-social-links list-inline list-unstyled">
				<li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
			</ul>
			<p>@DateTime.Now.Year<a href="#"> &nbsp CNSTOUR &nbsp</a>Tüm Hakları Saklıdır.</p>

		</div>
		<div id="scroll-Top">
			<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
		</div>
	</div>

</footer> 