@model List<About>
@{
    var say = 1;
}


<style>
                .abouttexts{
                    color:white;
                    background-color: #bd8cbf;
                    width:200px;
                    font-size: 17px;
                    text-align: center;
                    height:25px;
                }
                .aboutcont{ 
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
                
        </style>
        <div class="about-us" id="about">
            <div class="small-container">
            <h2 class = "text-center">Mevsimlere<span> Göre Tatiller</span></h2>
                <p class="text-center"></p>
                <div class="col-md-12 aboutcont"  > 
                            <div class="col-md-6 text-left" style="float:left;display: flex;flex-direction: row;">
                                @foreach (var item in Model)
                                 {
                                if (say <= 3)
                                 {
                                <div style="width:250px;">
                                <img src="@item.Image" style="width:200px;height:100px;">
                                    <h5 class="text-uppercase abouttexts">@item.Title</h5>
                                </div>
                                 }
                                say = say + 1;
                                 }
                                
                            </div>
                            <div class="col-lg-6 col-12 text-center">
                            <h4 class="text-uppercase">Haftasonu <span>Tatili</span></h4>
                            <p style="margin:auto">@ViewBag.ld</p>
                            @*<button class="text-center"><a href="#" class="text-capitalize">book now</a></button>*@
                             </div>
                       
                    
                </div>
                <div class="first"></div>
                <div class="second"></div>
            </div>
        </div>




