@model GetTravelAgencyByIDQueryResult
@{
    ViewData["Title"] = "Seyahat Bilgisi Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Seyahat Acentesi Bilgi Düzenleme Formu</h3>
    </div>
    <form method="post" role="form" enctype="multipart/form-data">
        <input type="hidden" asp-for="TravelAgencyID" />
        <div class="box-body">
            <div class="form-group">
                <label>Başlık</label>
                <input type="text" class="form-control" asp-for="Title" placeholder="Başlık giriniz.">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Açıklama</label>
                <input type="text" class="form-control" asp-for="Description" placeholder="Açıklama giriniz.">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label>Resim</label>
                <input type="file" name="Image">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div> 
        </div>
         <div class="form-group">
            <label></label>
            <img src="@ViewBag.resim" style="width:100px;height:100px;" /> 
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Kaydet</button>
        </div>
    </form>
</div>
