@model List<GetAllTravelAgencyQueryResult>
@{
    ViewData["Title"] = "Seyahat Acentesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">CQRS Seyahat Acentesi Listesi</h3>&emsp;
        <a class="btn btn-success" href="/Admin/AdminTravelAgencyCQRS/AddTravelAgency/"><i class="fa fa-plus"></i> Yeni Ekle</a>
    </div>
     <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Başlık</th>
                    <th>Açıklama</th>
                    <th>Resim</th> 
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.title</td> 
                        <td>@item.description</td> 
                        <td>
                            <img src="@item.image" style="width:100px; height:100px;" /> 
                        </td>
                        <td>
                            <a href="/Admin/AdminTravelAgencyCQRS/GetTravelAgency/@item.id" class="btn btn-primary">GÜNCELLE</a>
                            <a href="/Admin/AdminTravelAgencyCQRS/DeleteTravelAgency/@item.id" class="btn btn-danger">SİL</a> 
                        </td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>
 </div>

 
